# Data Prep

In [34]:
#import everything we might need
import pandas as pd
import numpy as np

In [35]:
#load in the data
observed_df = pd.read_csv( open ('train.csv' ) )
test_df = pd.read_csv( open ('test.csv' ) )

# DISCOVER

### Target

This dataset includes our Target variable

In [36]:
#peek at dataset
observed_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [37]:
#peek at dataset
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

### Observed and Test dataset info

Training dataset

In [38]:
observed_df.shape

(1460, 81)

Test dataset

In [39]:
test_df.shape

(1459, 80)

### Test for duplicates

In [40]:
#total duplicates in training dataset
observed_df.duplicated().sum()

0

In [41]:
#total duplicates in testing dataset
test_df.duplicated().sum()

0

### Find datatype counts in datasets

In [42]:
#total datatype count in training dataset
observed_df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [43]:
#total datatype count in testing dataset
test_df.dtypes.value_counts()

object     43
int64      26
float64    11
dtype: int64

### Breakout into categorical and numerical dataframes

find total count of NaN values only in columns with missing values

In [44]:
#create array of column headers from numerical features
quant_cols = observed_df.select_dtypes( include = [ "int64" , "float64" ] ).columns.to_numpy()

#find missing values in quantitative features
count_nas = observed_df[ quant_cols ].isna()

#print total count of missing values, if a feature contains NaN values
#record how many features have NaN's
count = 0

#index through boolean dataframe
for column in count_nas:

    #search dataframe column for True
    if count_nas[ column ].any():
        
        #show how many missing values in feature
        print( count_nas[ column ].value_counts() )
        
        #create whitespace between features
        print()
        
        #count feature as one that contains NaN values
        count += 1
        
#show how many features contain NaN's
print( "Amount of features with missing values: " , count )

False    1201
True      259
Name: LotFrontage, dtype: int64

False    1452
True        8
Name: MasVnrArea, dtype: int64

False    1379
True       81
Name: GarageYrBlt, dtype: int64

Amount of features with missing values:  3

In [45]:
#create array of column headers from categorical feature dataframe
categ_cols = observed_df.select_dtypes( include = [ "object" ] ).columns.to_numpy()

#view number of different values in each categorical feature
observed_df[ categ_cols ].nunique()

MSZoning          5
Street            2
Alley             2
LotShape          4
LandContour       4
Utilities         2
LotConfig         5
LandSlope         3
Neighborhood     25
Condition1        9
Condition2        8
BldgType          5
HouseStyle        8
RoofStyle         6
RoofMatl          8
Exterior1st      15
Exterior2nd      16
MasVnrType        4
ExterQual         4
ExterCond         5
Foundation        6
BsmtQual          4
BsmtCond          4
BsmtExposure      4
BsmtFinType1      6
BsmtFinType2      6
Heating           6
HeatingQC         5
CentralAir        2
Electrical        5
KitchenQual       4
Functional        7
FireplaceQu       5
GarageType        6
GarageFinish      3
GarageQual        5
GarageCond        5
PavedDrive        3
PoolQC            3
Fence             4
MiscFeature       4
SaleType          9
SaleCondition     6
dtype: int64